<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400593036899-io0m3k6l80qemnd6ojj6t1ink3c6p7gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400593036899-io0m3k6l80qemnd6ojj6t1ink3c6p7gk</string>
	<key>API_KEY</key>
	<string>AIzaSyD_2rZnqGR-4qQuqLstwph4V5Xw3Apcj4w</string>
	<key>GCM_SENDER_ID</key>
	<string>400593036899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jms</string>
	<key>PROJECT_ID</key>
	<string>gmsapp-7d8ae</string>
	<key>STORAGE_BUCKET</key>
	<string>gmsapp-7d8ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400593036899:ios:9ee219a3b1c821844f7a56</string>
</dict>
</plist>